.form-area {
    background-color: #eee;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid #e7e7e7;
}

a>.footer-link {
    font-size: 2.5em;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    transition: opacity .2s;
    margin: 0 .2em 0 .2em;
}

a>.footer-link:hover {
    opacity: 1;
}

footer {
    width: 100%;
    background-color: #222;
    color: #fff;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.emoji img {
    vertical-align: top;
    height: 1.1em;
}

.emoji-large img {
    height: 2em;
}

@media only screen and (max-width: 768px) {
    a>.footer-link {
        opacity: 1;
    }
}