html,
body {
  margin: 0;
}

p {
  font-size: 1.1em;
}

#top-button {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background: rgba(255, 195, 255, 0.6);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 90%;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( rgba(255, 195, 255, 0.45), rgba(255, 195, 255, 0.45)), url('resources/Aurora.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Roboto', sans-serif, Arial;
  background-color: rgb(8, 13, 15);
  color: #fff;
}

.container {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-family: 'Roboto', sans-serif, Arial;
  background-color: rgb(8, 13, 15);
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 25px 0;
  background: linear-gradient( rgba(255, 195, 255, 0.45), rgba(255, 195, 255, 0.45)), url('resources/Aurora.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.header-inner,
.footer-inner {
  text-align: center;
}

/* start skills */
.skills {
  width: 750px;
  display: inline-block;
}

.skill {
  width: 325px;
  display: inline-block;
  margin: 5px;
  /*text-align: left;*/
}

.skill-percentage {
  background-color: rgb(58, 58, 58);
  height: 25px;
  border-radius: 5px;
}

.skill-percentage-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient( rgba(255, 195, 255, 0.45), rgba(255, 195, 255, 0.45)), url('resources/Aurora.jpg');
  background-attachment: fixed;
  border-radius: 5px;
  font-style: italic;
}
/* end skills */

/* start panels */
.flip,
.panel {
  border: 2px solid #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 1.2em;
}

.flip {
  cursor: pointer;
}

.panel {
  border-top: none;
  display: none;
  padding: 25px 0 25px 0;
}

.arrow {
  display: inline-block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all .5s;
}
/* end panels */

.fa {
  color: white;
  text-decoration: none;
  margin: 0 5px 0 5px;
  transition: transform 0.2s;
}

.fa:hover {
  transform: scale(1.15);
}

.date {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.header-link a {
  position: relative;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.header-link a:hover {
  color: #fff;
}

.header-link a {
  color: #fff;
  text-decoration: none;
}

.header-link a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header-link a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.link {
  color: #fff;
  text-decoration: none;
  text-decoration: underline;
}

.link:visited {
  color: #d1d1d1;
}

.link:hover {
  color: #b6b6b6;
}

.about-me {
  max-width: 500px;
  min-width: 200px;
  display: inline-block;
}

.link-spacing {
  margin: 0 1em 0 1em;
  cursor: default;
}

.info {
  font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
  font-weight: bold;

  display: inline-block;
  height: 1em;
  width: 1em;
  line-height: 1em;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 2em;

  cursor: pointer;
}