html,
body {
  margin: 0;
}

.header {
  width: 100%;
  height: 200px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif, Arial;
  background: linear-gradient( rgba(146, 206, 255, 0.45), rgba(146, 206, 255, 0.45)), url('resources/Aurora.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: #fff;
}

.container {
  width: 100%;
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-family: 'Roboto', sans-serif, Arial;
  background-color: rgb(8, 13, 15);
  color: #fff;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 25px 0 25px 0;
  font-family: 'Roboto', sans-serif, Arial;
  background: linear-gradient( rgba(146, 206, 255, 0.45), rgba(146, 206, 255, 0.45)), url('resources/Aurora.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  color: #fff;
}

.header-inner,
.footer-inner {
  text-align: center;
}


/* start skills */

.skills {
  width: 750px;
  display: inline-block;
}

.skill {
  width: 325px;
  display: inline-block;
  margin: 5px;
  /*text-align: left;*/
}

.skill-percentage {
  background-color: rgb(58, 58, 58);
  height: 25px;
  border-radius: 5px;
}

.skill-percentage-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient( rgba(146, 206, 255, 0.45), rgba(146, 206, 255, 0.45)), url('resources/Aurora.jpg');
  background-attachment: fixed;
  border-radius: 5px;
  font-style: italic;
}


/* end skills */


/* start panels */

.flip,
.panel {
  border: 2px solid #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 1.2em;
}

.flip {
  cursor: pointer;
}

.panel {
  border-top: none;
  display: none;
  padding: 25px 0 25px 0;
}

#arrow {
  display: inline-block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all .5s;
}


/* end panels */

.icon {
  padding: 0 5px 0 5px;
  filter: invert(100%);
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.15);
}

.date {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.link {
  color: #fff;
  text-decoration: none;
  text-decoration: underline;
}

.link:visited {
  color: #d1d1d1;
}

.link:hover {
  color: #b6b6b6;
}